.table{
    margin: 10px auto auto auto;
    /* margin: 20px 5px 5px 5px; */
    border: 1px solid white;
    width: 200px;
    height: 100px;
}
[type="button"]{
    background-color: rgb(221, 216, 216);
    padding: 20px 40px;
    border-radius: 10px;
    border: 1px solid rgb(169, 169, 228);
    border-bottom: none;
    font-size: 25px;
    font-weight: bold;
    /* z-index: -1; */
}
[type="button"]:hover{
    border: 2px solid rgb(5, 5, 140);
    padding: 18px 38px;
}
[type="button"]:active{
    background-color: rgb(22, 56, 227);
    color: white;
}
[type="text"]{
    height: 100px;
    width: 480px;
    font-size: 50px;
    font-weight: bold;
    background-color: rgb(221, 216, 216);
    text-align: right;
}
body{
    background: rgb(37,71,240);
    background: linear-gradient(81deg, rgba(37,71,240,1) 0%, rgba(252,70,107,1) 100%);
}
.table td, .table th {
    border: none;
}
h1{
    text-align: center;
    color: white;
    margin-top: 10px;
}
tr{
    text-align: center;
}